aside.asideContainer {
    max-width: 7rem;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background:  linear-gradient(180deg, var(--green) 0%, rgba(255, 255, 255, 0) 100%);

    font-size: 1.25rem;
    color: var(--red);
    text-align: center;
}

aside.asideContainer > img{
    position: absolute;
    top: 2rem;
    width: 40%;
    height: auto;
}

aside.asideContainer nav{
    display: flex;
    flex-direction: column;
}

aside.asideContainer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

aside.asideContainer nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;
    padding: 0.5rem 0 0.8rem 5rem;

}

aside.asideContainer nav ul li button {
    background: transparent;

    border: none;
    outline-style: transparent;
    font-size: 0;

    height: 2.25rem;
    transform: translateX(-2.3rem);
}

aside.asideContainer nav ul li button:active{
    outline-color: var(--red);
}

.active {
    border-left: 5px solid var(--red);
}