.countdownContainer {
    display: flex;
    align-items: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    color:var(--title);
}

.countdownContainer div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0,0,0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.countdownContainer > div span {
    flex: 1;
}

.countdownContainer > div span:first-child{ /*pega o primeiro <span> dentro da primeira camada de <div> dessa classe*/
    border-right: 1px solid #f0f1f3;
    color: var(--title);
}

.countdownContainer > div span:last-child{ /*pega o ultimo <span> dentro da primeira camada de <div> dessa classe*/
    border-left: 1px solid #f0f1f3;
    color: var(--title);
}

.countdownContainer > span {
    font-size: 6.25rem ;
    margin: 0 0.5rem;
}

/* POMODORO BUTTON */

.startCountdownBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;

    margin-top: 1.5rem;
    border: none;
    background: var(--blue);
    border-radius: 5px;

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);

    outline: none;

    transition: background-color 200ms;
}

.startCountdownBtn:not(:disabled):hover{
    background: var(--blue-dark);
}

.startCountdownBtnActive {
    background: var(--tomato);
    color: var(--white);
}

.startCountdownBtnActive:not(:disabled):hover{
    background: var(--red);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.10);
}

.startCountdownBtn:disabled {
    cursor: no-drop;
    background: var(--white);
    color: var(--title);
}