.container {
    height: 100vh;
    max-width: 1050px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem; /*6.25 * 16 = 100 (significa que ocupará o espaçamento ideal para 16px (tamanho da fonte de desktop genérico)*/
    align-content: center;
}

.container aside {
    max-width: 7rem;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background:  linear-gradient(180deg, #4DD82B 0%, rgba(255, 255, 255, 0) 100%);

    font-size: 1.25rem;
    color: var(--red);
    text-align: center;
}

.container aside > img{
    position: absolute;
    top: 2rem;
    width: 40%;
    height: auto;
}

.container aside nav{
    display: flex;
    flex-direction: column;
}

.container aside nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container aside nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;
    padding: 0.8rem 0 0.8rem 4.5rem;

}

.container aside nav ul li img{
    height: 2.25rem;
    transform: translateX(-2.3rem);
}

.active {
    border-left: 4.5px solid var(--red);
}

